body{
    margin: 0px auto;
    padding: 0px;
    background: linear-gradient(45deg, rgba(67, 87, 208, 1) 0%, rgba(200, 80, 195, 1) 100%);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Calibri";
    font-size: 16px;
}

/*BEGIN - TABLE CONTAINER & CONTAINER*/

.wrap-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container{
    width: 800px;
    margin: 64px 0px;
}

.table-container > table{
    margin: 0px;
    padding: 0px;
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0px;
    letter-spacing: 1px;
    width: 100%;
}

/*ENDED - TABLE CONTAINER & CONTAINER*/


/*BEGIN - TABLE HEADER*/

.table-container > table > thead{
    background-color: #352F4B;
    color: #FFFFFF;
    text-transform: uppercase;
    height: 50px;
}

.table-container > table > thead > tr > th:first-child{
    padding-left: 20px;
    border-radius: 10px 0px 0px 0px;
}

.table-container > table > thead > tr > th:last-child{
    padding-right: 20px;
    border-radius: 0px 10px 0px 0px;
}

/*ENDED - TABLE HEADER*/


/*BEGIN - TABLE BODY*/

.table-container > table > tbody > tr{
    background-color: #FFFFFF;
    color: #959595;
    height: 40px;
    transition: 0.5s;
}

.table-container > table > tbody > tr:hover{
    color: #505050;
}

.table-container > table > tbody > tr > td:first-child{
    padding-left: 20px;
}

.table-container > table > tbody > tr:nth-child(even){
    background-color: #E6E6E6;
}

.table-container > table > tbody > tr:last-child > td:first-child{
    border-radius: 0px 0px 0px 10px;
}

.table-container > table > tbody > tr:last-child > td:last-child{
    border-radius: 0px 0px 10px 0px;
}

/*ENDED - TABLE BODY*/

@media screen and (max-width: 830px){
    .table-container{
        border: 5px solid #352F4B;
        margin: 0px;
    }

    .table-container > table > thead{
        display: none;
    }
    
    .table-container > table > tbody > tr > td:first-child{
        padding: 0px;
    }

    .table-container > table > tbody > tr{
        height: 100%;
        padding: 10px 0px;
        border-bottom: 5px solid #352F4B;
    }

    .table-container > table > tbody > tr:last-child{
        border-bottom: 0px;
    }

    .table-container > table tr{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .table-container > table > tbody > tr:last-child > td:first-child{
        border-radius: 0px;
    }
    
    .table-container > table > tbody > tr:last-child > td:last-child{
        border-radius: 0px;
    }

    .table-container > table td{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: 1px solid #959595;
        margin: 3px 0px;
    }

    .table-container > table td::before{
        content: attr(data-label);
        text-transform: uppercase;
        font-weight: bold;
    }
}

@media screen and (max-width: 400px){
    body{
        font-size: 10px;
    }
}